.logo {
  display          : inline-block;
  width            : 60px;
  height           : 60px;
  background-image : url(/storage/logo.png);
  background-color : $gray;
  background-size  : cover;
}
