.photo-container {
  display     : inline-block;
  width       : $container-width;
  padding-top : 0.4cm;
  @media only screen
         and (max-width : $container-width) {
    display : none;
  }
}

.photo {
  display             : inline-block;
  width               : $content-width;
  height              : $content-width;
  background-position : center;
  background-size     : cover;
  background-size     : cover;
}

.previews {
  display        : inline-block;
  width          : 390px;
  padding-left   : 2 * $side-gap;
  vertical-align : top;
}

.thumbnail {
  display             : inline-block;
  width               : 90px;
  height              : 90px;
  margin-bottom       : 8px;
  margin-left         : 5px;
  background-position : center;
  background-size     : cover;
  vertical-align      : top;
  cursor              : pointer;
}

.photo-wall {
  width        : 99vw;
  padding-left : 1vw;
  @media only screen
         and (min-width : $container-width) {
    display : none;
  }
}

.photo-brick {
  display             : inline-block;
  width               : 32vw;
  height              : 32vw;
  margin-bottom       : 3px;
  background-position : center;
  background-size     : cover;
  vertical-align      : top;
}

.modal {
  z-index          : 1;
  display          : none;
  position         : fixed;
  top              : 0;
  left             : 0;
  width            : 100vw;
  height           : 100vh;
  padding-top      : 100px;
  overflow         : auto;
  background-color : rgba(0,0,0,0.4);
}

.modal-image {
  display             : block;
  width               : 90vw;
  height              : 90vw;
  margin              : auto;
  background-position : center;
  background-size     : cover;
}

.modal-content {
  display     : block;
  width       : 90vw;
  height      : 90vw;
  margin      : auto;
  text-align  : center;
  text-shadow : 0px 0px 10px $white;
  font-size   : 18px;
  font-weight : bold;
}

.close {
  position    : absolute;
  top         : 15px;
  right       : 35px;
  color       : #f1f1f1;
  font-size   : 40px;
  font-weight : bold;
  transition  : 0.3s;
  cursor      : pointer;
}
