// Colors

$white            : rgb(255, 255, 255);
$black            : rgb(51, 51, 51);
$black2           : rgba(26,26,26,0.8);
$gray             : rgb(204, 204, 204);
$orange           : rgb(255, 128, 0);
$gap-normal       : 10px;
$gap-big          : 3 * $gap-normal;
$font-family-base : 'Roboto', 'Noto Sans TC', sans-serif;
$font-size-big    : 12pt;
$font-size-base   : 10pt;
$font-size-small  : 8pt;
$nav-height       : 85px;
$container-width  : 900px;
$side-gap         : 0.4cm;
$content-width    : 475px;

// $thumbnail-width  :

// Fonts
